@charset "utf-8";
/* CSS Document */
body{font-size:12px;}
.error { display: block; }
 
 .btn-editar{     width: 5px;
    font-size: 9px;
    float: left;
    /* margin-right: 2px; */
    padding: 1px 7px 1px 1px;
    /* padding-left: 1px; */}
 
 label{margin-top:5px;}
 
 .vertical-centered-text {
  height: 200px;
  display: table;
}
  .vertical-centered-text > * {
    display: table-cell;
    vertical-align: middle;
  }
  .eliminar{
  background-image: url(http://www.stadioitalianodiconcepcion.cl/ASI/assets/images/eliminar.png);
    background-repeat: no-repeat;
    height: 10px;
    width: 10px;
    background-position: center;
    background-size: contain;
    background-color: transparent;
    border: none;
    margin-top: 5px;

}
    .editar{
  background-image: url(http://www.stadioitalianodiconcepcion.cl/ASI/assets/images/edit.png);
    background-repeat: no-repeat;
    height: 20px;
    width: 17px;
    background-position: center;
    background-size: contain;
    background-color: transparent;
    border: none;
    margin-top: 5px;

}

#number{
	width:100px;
	
	}
	
	
	
	#example{font-size:11px; text-transform:uppercase;}
/*pegado*/


#div-nuevo{ transition: opacity 1s ease-out;}
.row-turnos{ 
  
  margin: 5px;
  text-transform: uppercase;
  font-size: 11px;
  padding: 0px 0px 5px 0px;
}
.cont-turnos{  /*background: red;*/  
  padding: 0px;border-bottom: 1px solid #c7c7c7; 
     font-size: 12px;
    letter-spacing: 4px;
    font-family: monospace;
    color: grey;
}
.cont-funcionarios{padding-left: 7px;}
.panel-turnos {padding: 5px;}
.tbl_actividades {text-transform: uppercase; font-size: 11px;}
.horario{font-weight: 600; font-size: 13px;}
.glyphicon-earphone{padding-right: 5px;}
.observaciones{border: none;
    font-style: oblique;
    text-transform: lowercase;
    background: #f3f3f3;
 }
.tbl_trabajos{text-transform: uppercase; font-size: 11px;}

.buscador{width: 50%;}
.organizacion{    position: relative;
    top: 7px;
    font-size: 15px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 4px;
}

#div_calendario{

  text-align: center;
  -webkit-text-align: center;  
  -moz-text-align: center;
  -ms-text-align: center;

  padding: 15px;
  -webkit-padding: 15px;
  -moz-padding: 15px;
  -ms-padding: 15px;

}

#dependencia{padding:15px;}
#segmentacion{visibility: hidden;}

  select.input-sm{
    text-transform: uppercase;
    font-size: 11px;
}


span.categoria{      font-size: 8px;
    color: #fff;
    letter-spacing: 2px;
    padding: 3px;
    text-transform: uppercase;}
    p.text_subcategoria{margin-top:2px;}
    i.text_segmentacion{font-size: 9px;}

.scrollbar{overflow: auto;
max-height:  700px;}
/* Let's get this party started */

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #;D97F7F
  border: 0px none #ffffff;
  border-radius: 72px;
}
::-webkit-scrollbar-thumb:hover {
  background: #c0c0c0;
}
::-webkit-scrollbar-thumb:active {
  background: #808080;
}
::-webkit-scrollbar-track {
  background: #dadada;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #dadada;
}
::-webkit-scrollbar-track:active {
  background: #dadada;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.cont-hora{    border: 1px solid #dadada;
   /*padding: 3px;*/
    font-size: 12px;
    text-align: center;
    font-weight: 600;
    color: grey;
    border-radius: 2px;
    width: 12%;
  float: left;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);}
/*.cont-actividades{    width: 86%;
  
    float: left;
    border: 1px solid rgba(0,0,0,.125);
    margin-left: 5px;
    padding: 5px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 17px;
}*/
.cont-actividades:hover {
    background: #ffffd8;
    cursor: pointer;
}
.titulo{    border-bottom: 1px solid #bbbbbb;
    margin-bottom: 6px;
      width: 80%;}


/* CSS by GenerateCSS.com */
.cont-actividades ul {list-style-type: disc;
    padding: 14px;
list-style-position: inside;}

.cont-actividades li {padding: 0px;
margin: 0px;}

.n_persns{width: 20%;
    float: left;
    font-size: 12px;
    padding: 5px;
    text-align:  center;
    /* border: 1px solid #bbbbbb; */
    letter-spacing: 1px;
    font-weight: 600;
    color: #848080;}

    #det_actividad{padding: 0;}
.detalle_titulo{
    padding: 5px;
    color: white;
    font-size: 20px;
    text-transform: uppercase;}
.fecha_seleccionada{color:#000; text-transform:lowercase; text-align: center;}
 .dia{font-size: 14px;}
 .mes{font-size: 14px;}   
 .num_dia{    font-size: 37px;
    line-height: 0.8;
    font-weight: 700;} 
.det_fecha{background: #777777;
    color: white;
    padding: 4px;
    margin-top: 3px;
    font-size: 13px;}
.det_hora{padding-top: 15px;
    font-size: 20px;
    font-weight: 600}
.det_duracion{    background: #cac5c5;
    margin-top: 15px;
    padding: 5px;}
.num_duracion{    background: white;
    text-align: center;
    padding: 0px;
    font-weight: 600;}
.dia_duracion{    color: white;
    text-align: center;
    padding: 3px 0px;}
.fecha_duracion{    font-size: 11px;
    margin-top: 15px;
    padding: 0px 0px 0px 4px;}    
.cont-card{padding:5px;}
.card{padding: 6px;
    background: white;
    min-height: 100px;
    margin-top: 5px;
      overflow: auto;}

.card h1{margin-top: 8px;
    margin-bottom: 10px;
    color: #333;
    margin: 0 0 15px;
    line-height: 1.75rem;
    font-weight: 700;
    font-size: 1.25rem;}

ul.fullstats {
    padding: 0;
    width: 100%;

    margin: 6px 0 0;
    border-top: 1px solid #e8e8e8;
    float: left;
    list-style-type: none;
}

ul.fullstats li {
    width: 33.33333333%;
    float: left;
    text-align: center;
    font-size: 10px;
    line-height: 10px;
    color: #999;
    border-left: 1px solid #e8e8e8;
    padding: 11px 0;
}

ul.fullstats li:last-child { 
 border-right:  1px solid #e8e8e8;
 height: 100%;
}

ul.fullstats li span {
    display: block;
    font-size: 16px;
    line-height: 18px;
    color: #333;
}

.responsable{    text-transform: uppercase;
    font-family: monospace;
    font-size: 13px;}

.btn-group{float: right !important;}

#tbl_calendarizacion{ max-height: 250px; overflow: auto; }

#cont-det-actividades{display: none;}

.titulo-trabajo{    text-transform: uppercase;
    letter-spacing: 4px;}

    .cont-trabajo{    border-bottom: 1px solid #bfbfbf;
    overflow: auto;
    margin-bottom: 5px;
    border-bottom-style: dashed;}

    .body_actividades{ padding: 5px 0px;  }
    #cont_list_actividades{padding: 0px 5px;}

    .panel-turnos .table{    text-transform: capitalize;}

   tr.highlighted td {
    background: #ffffd8;
}

#table_actividades{    
    border: solid #ccc 1px;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
  }

table#table_actividades th{
   text-align: center;

}



  .nombre_actividad {
    font-size: 15px;
    font-style: oblique;
    text-transform: lowercase;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

#reg_asist 
{border-radius: 50%;}
